h1{
  text-align: center;
  color: red;
  background-color: black;
  font-size: 50px;
  font-family: 'Lobster', cursive;
}
a{
 font-size: 25px;
 color: red;
 display: inline-block;
  text-decoration: none;
}

nav{
  background-color: black;
   text-align: center;
}

img{
  width: 500px;
  height: 300px;
}
p{
  color: red;
  background-color: black;
  font-size: 25px;
}
footer{
  text-align: center;
  color: white;
  background-color: black;
  font-size: 25px;
}