header{
    background-color: ghostwhite
}

h1{
  text-align: center;
  color: red;
  background-color: black;
  font-size: 50px;
  font-family: 'Lobster', cursive;
}
a{
 font-size: 25px;
 color: red;
 display: inline-block;
  text-decoration: none;
}

nav ul li{
   display: inline;
   margin: 10px;
   }
  main article h4{
       border: 1px solid black;
       padding: 10px;
       margin: 30px;
  }
nav ul li a{
   text-decoration: none;
}

 main article img{
     width:80%;
     opacity: 1;
 }
  background-color: black;
   text-align: center;
   padding: 10px;

  margin : 15px;
   font-size:22px;
   text-decoration: none;
  }

img{
  width: 500px;
  height: 300px;
}
p{
  color: red;
  background-color: black;
  font-size: 25px;
}
footer{
  text-align: center;
  color: white;
  background-color: black;
  font-size: 25px;
}